/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes default {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #23b7a4;
  color: #fff; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  /*font-size: 16px;*/
  line-height: 1;
  color: #fff; }

.btn-text {
  text-transform: uppercase;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1.16rem;
  font-weight: 700;
  line-height: 1;
  color: #fff; }

.form-text {
  text-transform: uppercase;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1.16rem;
  font-weight: 400;
  line-height: 1;
  color: #8d8f92; }

.heading-primary {
  position: relative;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 0rem;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.17; }
  .heading-primary--main {
    color: #fff;
    display: block;
    margin-bottom: 2.2rem;
    /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */ }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-family: 5rem; } }
  .heading-primary__background {
    padding-left: 23px;
    margin-top: 80px;
    margin-bottom: 65px; }
    .heading-primary__background--white {
      color: #292f36; }
      .heading-primary__background--white::before {
        content: " ";
        background-color: #e1e6ea;
        width: 10px;
        height: 35px;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0px, -50%); }
  .heading-primary--sub {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 1.35rem;
    font-weight: 400;
    text-transform: none;
    color: #8d8f92;
    line-height: 1.6; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem; } }

.heading-secondary {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  -webkit-background-clip: text;
  color: #292f36;
  margin-top: 5.1rem;
  margin-bottom: 3.4rem;
  margin-left: 0.8rem;
  font-family: "Quattrocento Sans", sans-serif; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }

.heading-tertiary {
  position: relative;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 0rem;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.17; }
  .heading-tertiary__about {
    color: #292f36; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.slide img {
  display: block;
  width: 100%;
  height: auto; }

.slick-dots {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  bottom: 0;
  margin: 0;
  padding: 3rem 0;
  list-style-type: none;
  width: 114rem;
  max-width: 114rem;
  left: 50%;
  transform: translate(-50%, 0px); }
  @media only screen and (max-width: 56.25em) {
    .slick-dots {
      max-width: 50rem; } }
  .slick-dots li {
    margin: 0 0.25rem; }
  .slick-dots button {
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: transparent;
    border: 2px solid #fff;
    text-indent: -9999px; }
  .slick-dots li.slick-active button {
    background-color: white; }

.btn {
  margin-top: 3.3rem;
  margin-right: 10px; }
  .btn:hover, .btn:focus {
    cursor: pointer;
    border: 2px solid transparent;
    background-color: #23b7a4; }
  .btn:focus {
    outline: none; }
  .btn:active {
    transform: scale(0.99); }
  .btn--primary {
    border: 2px solid #fff;
    padding: 15px 20px;
    background-color: transparent;
    border-radius: 2px; }

.social ul {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  list-style-type: none; }
  .social ul li {
    position: relative;
    margin-right: 1px; }
    .social ul li img {
      height: 23px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .social ul li:hover {
      cursor: pointer; }

.social__about ul {
  margin-top: 55px; }
  .social__about ul li {
    width: 60px;
    height: 60px;
    background-color: #c8cdd0; }
    .social__about ul li:hover {
      background-color: #d0d5d9; }

.option-list .option {
  margin-bottom: 30px; }
  .option-list .option .option-number {
    width: 50px;
    height: 50px;
    background-color: #23b7a4;
    position: relative;
    display: inline-block;
    margin-right: 15px; }
    .option-list .option .option-number h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      color: #fff; }
  .option-list .option .option-text {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 70px); }

.footer {
  height: 95px;
  background-color: #333; }
  .footer .wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%; }
  .footer p {
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-weight: 400; }
  .footer .footer-icons {
    margin-left: auto; }
    .footer .footer-icons li {
      margin: 0 15px;
      display: inline; }
      .footer .footer-icons li img {
        width: 20px;
        height: 20px; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 81px;
  background-color: #1d2126;
  position: relative; }
  .header__logo-box {
    width: 98px; }
  .header__logo {
    height: 100%; }
  .header .wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%; }
  .header ul {
    display: inline-block;
    margin-left: auto;
    justify-content: space-between;
    list-style-type: none; }
    .header ul li {
      display: inline-block;
      border-radius: 5px;
      margin: 0 5px;
      border: 2px solid transparent;
      box-sizing: border-box; }
      .header ul li p {
        color: #a4aead;
        padding: 8px 10px;
        text-transform: uppercase; }
      .header ul li:hover {
        border: 2px solid #5b6168;
        cursor: pointer; }
        .header ul li:hover p {
          padding: 8px 10px;
          text-transform: uppercase; }
      .header ul li:active {
        border: 2px solid #23b7a4;
        cursor: pointer; }
        .header ul li:active p {
          color: #23b7a4; }

.form-container {
  width: 555px;
  height: 400px;
  background-color: #fff;
  position: absolute;
  top: -129px;
  padding: 2.7rem; }
  .form-container .col-1-of-2 {
    width: calc((100% - 14px) / 2); }
    .form-container .col-1-of-2:not(:last-child) {
      margin-right: 14px; }
      @media only screen and (max-width: 56.25em) {
        .form-container .col-1-of-2:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    .form-container .col-1-of-2:nth-child(2) {
      margin-right: 0; }
  .form-container .btn {
    border: 2px solid transparent;
    background-color: #23b7a4;
    border-radius: 5px; }

.input {
  border: none;
  background-color: #eaeef1;
  border-radius: 4px;
  resize: none;
  outline: none;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1.7rem;
  color: #5b6168;
  padding: 4px 8px; }

.input-name, .input-email {
  display: inline-block;
  width: 240px;
  height: 45px;
  margin-bottom: 30px;
  margin-top: 10px; }

.input-message {
  width: 494px;
  height: 160px;
  margin-top: 10px; }

.message {
  display: block;
  width: 100%; }

.section-main {
  position: relative; }
  .section-main .content-wrapper {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%; }
    .section-main .content-wrapper .content {
      top: 50%;
      transform: translate(0px, -50%);
      position: absolute; }
      .section-main .content-wrapper .content p {
        width: 65%; }
  .section-main .background {
    height: 660px;
    max-height: 660px; }
    .section-main .background__image {
      height: 660px;
      width: 100%; }
    .section-main .background img {
      height: 660px;
      width: 100%;
      object-fit: cover; }

.section-about {
  padding-bottom: 100px;
  border-bottom: 1px solid #c8cdd0; }
  .section-about .content-wrapper .left-side {
    width: 48.1%;
    display: inline-block;
    margin-right: 2.2%; }
  .section-about .content-wrapper .right-side {
    display: inline-block;
    width: 49%;
    vertical-align: top; }

.section-contact {
  margin-bottom: 105px; }
  .section-contact .row {
    margin-bottom: 0; }
    .section-contact .row .content-wrapper {
      display: flex;
      align-items: flex-start;
      position: relative; }
      .section-contact .row .content-wrapper .left-side {
        width: 47.9%; }
      .section-contact .row .content-wrapper .right-side {
        margin-left: 4.2rem;
        width: 47.9%; }
  .section-contact .google-map .mapouter {
    position: relative;
    text-align: right;
    height: 346px;
    width: 100%; }
  .section-contact .google-map .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 346px;
    width: 100%; }
