.social {
  ul {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    list-style-type: none;

    li {
      position: relative;
      margin-right: 1px;
      img {
        height: 23px;
        @include absCenter();
      }
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__about {
    ul {
      margin-top: 55px;
      li {
        width: 60px;
        height: 60px;
        background-color: $color-grey-light-3;
        &:hover {
          background-color: $color-grey-light-2;
        }
      }
    }
  }
  &__team {
    ul {
      li {
        width: 50px;
        height: 50px;
        background-color: $color-background-light;
        &:hover {
          background-color: $color-gray-dark-4;
        }
      }
    }
  }
}
