body {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  /*font-size: 16px;*/
  line-height: 1;
  color: $color-white;
}

.btn-text {
  text-transform: uppercase;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1.16rem;
  font-weight: 700;
  line-height: 1;
  color: $color-white;
}

.form-text {
  text-transform: uppercase;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1.16rem;
  font-weight: 400;
  line-height: 1;
  color: $color-heading-primary-sub-gray-2;
}

.heading-primary {
  position: relative;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 0rem;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.17;
  &--main {
    color: $color-white;
    display: block;
    margin-bottom: 2.2rem;

    // animation-name: moveInLeft;
    // animation-duration: 1s;
    // animation-timing-function: ease-out;

    @include respond(phone) {
      letter-spacing: 1rem;
      font-family: 5rem;
    }
    /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */
  }

  &__background {
    padding-left: 23px;
    margin-top: 80px;
    margin-bottom: 65px;
    &--white {
      color: $color-heading-main-dark;
      &::before {
        content: " ";
        background-color: $color-grey-light-1;
        width: 10px;
        height: 35px;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0px, -50%);
      }
    }
    &--black{
      color: $color-white;
      &::before {
        content: " ";
        background-color: $color-gray-dark-4;
        width: 10px;
        height: 35px;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0px, -50%);
      }
    }
  }

  &--sub {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 1.35rem;
    font-weight: 400;
    text-transform: none;
    color: $color-heading-primary-sub-gray-2;
    line-height: 1.6;
    // animation: moveInRight 1s ease-out;
    &__team {
      font-size: 1.17rem;
      line-height: 1;
    }
    &__features {
      font-weight: 400;
      line-height: 2rem;
      color: $color-grey-light-4;
    }
    &__services {
      font-weight: 400;
      line-height: 2.2rem;
      color: $color-heading-primary-sub-gray-2;
    }
    @include respond(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading-secondary {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: $color-heading-main-dark;
  margin-top: 5.1rem;
  margin-bottom: 3.4rem;
  margin-left: 0.8rem;
  font-family: "Quattrocento Sans", sans-serif;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }
}

.heading-tertiary {
  position: relative;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 0rem;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.17;
  &__about {
    color: $color-heading-main-dark;
  }
}

.heading-fourtiary {
  position: relative;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 0rem;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1.35rem;
  font-weight: 700;
  line-height: 1.17;
  &__team {
    color: $color-heading-main-dark;
    line-height: 1.3;
  }
  &__services {
    font-weight: 500;
    color: $color-heading-main-dark;
    font-size: 1.3rem;
    line-height: 2.2rem;
  }
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
